<div class="container">
	<div class="card" ng-show="$ctrl.contests.length == 0">
		<div class="card-body">
			Nothing to vote for at this time.
		</div>
	</div>
	<div class="card" ng-repeat="contest in $ctrl.contests">
		<div class="card-header" style="cursor: pointer;" ng-click="$ctrl.ExpandContest(contest)">
			<h5 class="card-title">{{contest.name}}</h5>
		</div>
		<ul class="list-group list-group-flush" ng-if="$ctrl.entries[contest.name].length > 0">
			<li ng-repeat="entry in $ctrl.entries[contest.name]" class="list-group-item" ng-click="$ctrl.Vote(contest,entry)">
				<span class="pull-right">
					<i class="fa" ng-class="{'fa-check':$ctrl.votes[contest.name].entry==entry.name}"></i>
				</span>
				{{entry.name}} by {{entry.contestant}}
			</li>
		</ul>
	</div>
</div>